<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	
<mapper namespace="ItemMapper">
<!-- 
1. ResultMap :: selectRM(id)
2. sql구문의 재사용성 사용
3. getItemList, getItem(특정한 아이디를 포함하는 기능...와일드카드 사용)
 -->
 	<resultMap type="item" id="selectRM">
 		<result property="itemNumber" column="item_id"/>
 		<result property="name" column="item_name"/>
 		<result property="price" column="price"/>
 		<result property="description" column="description"/>
 		<result property="url" column="picture_url"/>
 		<result property="count" column="count"/>
 	</resultMap>
 	<sql id="select-item">
 		select
 		item_id, item_name, price, description, picture_url, count
 		from item	
 	</sql>
 	
 	 
 	<select id="getItemList" resultMap="selectRM">
 		<include refid="select-item" />
 	</select>
 	
 	<select id="getItem" resultMap="selectRM" parameterType="int">
 		<include refid="select-item" />
 		where item_id like '%${value}%' <!-- ${}쓸때는 소문자로 value써야한다 -->
 	</select>
 
</mapper>
	
	